[Desktop Entry]
Name=Music Player
Type=Application
Comment=Music player applet with MPRIS integration for the COSMIC™ desktop
Exec=cosmic-ext-applet-music-player
Terminal=false
Categories=COSMIC;AudioVideo;Music;
Keywords=Music;Player;MPRIS;Audio;Media;
Icon=com.github.MusicPlayer
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto